menu "BUOYE CAN-bus Wroker vinsj controller"
    config MOTCTRL_WORKER_ENABLE_DEEP_SLEEP
        bool "Enable deep sleep after work completion"
        default y

menu "Sensorar (input)"
    config GPIO_WINCH_HOME
        int "-X1:5 → GPIO for HOME"
        default 18
        range 0 39
        help 
            GPIO som skal koblast til endebrytaren som indikerer når vinsjen er heime (oppe).
            (NO) Dette er ein inngang som skal vere låg når vinsjen er heime.

    config GPIO_WINCH_TENSION
        int "-X1:6 → GPIO for TENSION"
        default 5
        range 0 39
        help
            GPIO som skal koblast til sensoren som gir høgt signal visst det er for stor last i wiren, 
            eller motorkontrolleren gir error signal.
            (NO) Dette er ein inngang som skal vere låg når vinsjen er under belastning.

    config GPIO_WINCH_AUTO
        int "-X1:7 → GPIO for AUTO"
        default 19
        range 0 39
        help
            GPIO som skal koblast til brytaren som indikerer at vinsjen skal gå i MANUEL-modus (Open), 
            eller AUTO-modus (CLOSED).
            (NO) Dette er ein inngang som skal vere høg når vinsjen er i AUTO-modus.

endmenu

menu "Aktuatorar (output)"
    config USE_WINCH_RUNNING_LAMP
        bool "Bruk LAMP for å indikere at vinsjen er i drift"
        default y
        help
            Dersom aktivert, vil LAMP bli slått på når vinsjen er i drift.
            Dersom deaktivert, vil LAMP ikkje bli brukt.
    
    config USE_AUTO_LAMP
        bool "Bruk AUTO_LAMP for å indikere at vinsjen er i AUTO-modus"
        default y   
        help
            Dersom aktivert, vil AUTO_LAMP bli slått på når vinsjen er i AUTO-modus.
            Dersom deaktivert, vil AUTO_LAMP ikkje bli brukt.
    
    config USE_ALARM_LAMP
        bool "Bruk ALARM_LAMP for å indikere at vinsjen er i Alarm tilstand"
        default y   
        help
            Dersom aktivert, vil ALARM_LAMP bli slått på når vinsjen er i Alarm tilstand.
            Dersom deaktivert, vil ALARM_LAMP ikkje bli brukt.
            
    config GPIO_WINCH_UP
        int "-X1:2 → GPIO for WINCH_UP"
        default 25
        range 0 39
        help
            GPIO som skal koblast til reléet som styrer vinsjen i oppover retning.
            (NO) Dette er ein utgang som skal vere høg når vinsjen skal heve lasten.

    config GPIO_WINCH_DOWN
        int "-X1:3 → GPIO for WINCH_DOWN"
        default 26
        range 0 39
        help
            GPIO som skal koblast til reléet som styrer vinsjen i nedover retning.
            (NO) Dette er ein utgang som skal vere høg når vinsjen skal senke lasten.
                    
    config GPIO_LAMP
        int "-X1:11 → GPIO for LAMP"
        default 16
        range 0 39
        depends on USE_WINCH_RUNNING_LAMP
        help
            GPIO som skal koblast til reléet som styrer Drifts lampe.
            Dette er ein utgang som skal vere høg når vinsjen er i drift.

    config GPIO_AUTO_LAMP
        int "-X1:12 → GPIO for AUTO_LAMP"
        default 2
        range 0 39
        depends on USE_AUTO_LAMP
        help
            GPIO som skal koblast til reléet som styrer AUTO lampe.
            Dette er ein utgang som skal vere høg når vinsjen er i AUTO-modus.

    config GPIO_ALARM_LAMP
        int "-X1:13 → GPIO for ALARM_LAMP"
        default 15
        range 0 39
        depends on USE_ALARM_LAMP
        help
            GPIO som skal koblast til reléet som styrer Alarm lampe.
            Dette er ein utgang som skal vere høg når vinsjen er i Alarm tilstand.
endmenu

endmenu